.navbar {
  height: 50px;
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  flex-direction: row;
  background-color: #c1b6b6;
  border-bottom: 4px groove rgba(167, 97, 97, 0.452);
  align-items: center;
}

.navbaritem {
  align-self: center;
  margin: 5px;
}

.navbartitle {
  margin-right: 30px;
}
